ASSIGNMENT 2 ---
Name - Pratik Pawar ---
Roll No - 391043 --
Batch A2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('mlops2data.csv')
dataset

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [8]:

file_path = 'mlops2data.csv'
data = pd.read_csv(file_path)

In [5]:
import pandas as pd

class ChunkIterator:
    def __init__(self, file_path, chunk_size):
        self.file_path = file_path
        self.chunk_size = chunk_size
        self.chunk_generator = pd.read_csv(file_path, chunksize=chunk_size)
    
    def __iter__(self):
        return self
    
    def __next__(self):
        try:
            chunk = next(self.chunk_generator)
            return chunk
        except StopIteration:
            raise StopIteration
    
    def calculate_statistics(self, chunk):
        statistics = {
            'mean': chunk.mean(numeric_only=True).to_dict(),
            'std': chunk.std(numeric_only=True).to_dict(),
            'min': chunk.min(numeric_only=True).to_dict(),
            'max': chunk.max(numeric_only=True).to_dict(),
            'count': chunk.count(numeric_only=True).to_dict()
        }
        return statistics

In [7]:
file_path = 'mlops2data.csv'
chunk_size = 1000

iterator = ChunkIterator(file_path, chunk_size)

for chunk in iterator:
    stats = iterator.calculate_statistics(chunk)
    print("Chunk Statistics:")
    print("Mean:", stats['mean'])
    print("Std Dev:", stats['std'])
    print("Min:", stats['min'])
    print("Max:", stats['max'])
    print("Count:", stats['count'])
    print("----------------------------------------------------")

Chunk Statistics:
Mean: {'CustomerID': 100.5, 'Age': 38.85, 'Annual Income (k$)': 60.56, 'Spending Score (1-100)': 50.2}
Std Dev: {'CustomerID': 57.879184513951124, 'Age': 13.96900733155888, 'Annual Income (k$)': 26.264721165271244, 'Spending Score (1-100)': 25.823521668370173}
Min: {'CustomerID': 1, 'Age': 18, 'Annual Income (k$)': 15, 'Spending Score (1-100)': 1}
Max: {'CustomerID': 200, 'Age': 70, 'Annual Income (k$)': 137, 'Spending Score (1-100)': 99}
Count: {'CustomerID': 200, 'Age': 200, 'Annual Income (k$)': 200, 'Spending Score (1-100)': 200}
----------------------------------------------------